<% layout('layout/boilerplate') %> 
<div class="container d-flex justify-content-center align-items-center mt-2">
    <div class="row flex-fill">
        <div class="col-md-5 offset-md-3">
            <div class="card shadow mb-3">
                <img src="https://images.unsplash.com/photo-1504280390367-361c6d9f38f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y2FtcHN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="">
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form action="/login" class="validated-form" method="post" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" required autofocus></input>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required></input>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <button class="btn btn-success col-12">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>